In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tushare as ts

使用tushare包获取某股票的历史行情数据

In [3]:
df = ts.get_k_data("600519",start="1988-01-01")
df.to_csv("600519.csv")

In [7]:
df = pd.read_csv("600519.csv", index_col='date', parse_dates=['date'])[['open','close','high','low']]
df

               open    close     high      low
date
2001-08-27    5.468    5.633    5.986    5.205
2001-08-28    5.544    5.840    5.863    5.484
2001-08-29    5.859    5.764    5.863    5.720
2001-08-30    5.749    5.878    5.943    5.704
2001-08-31    5.886    5.864    5.961    5.831
2001-09-03    5.894    5.861    5.953    5.839
2001-09-04    5.864    5.936    6.034    5.844
2001-09-05    5.959    5.932    6.008    5.896
2001-09-06    5.918    5.815    5.937    5.785
2001-09-07    5.783    5.653    5.855    5.649
2001-09-10    5.609    5.815    5.839    5.547
2001-09-11    5.831    5.750    5.855    5.736
2001-09-12    5.598    5.701    5.736    5.593
2001-09-13    5.706    5.687    5.752    5.657
2001-09-14    5.706    5.752    5.783    5.672
2001-09-17    5.717    5.679    5.750    5.625
2001-09-18    5.685    5.744    5.791    5.680
2001-09-19    5.752    5.850    5.850    5.714
2001-09-20    5.847    5.801    5.871    5.783
2001-09-21    5.749    5.714    5.799    5.704
2001-09-24    5.714    5.712    5.766    5.704
2001-09-25    5.749    5.741    5.790    5.712
2001-09-26    5.722    5.717    5.780    5.704
2001-09-27    5.717    5.815    5.859    5.704
2001-09-28    5.847    5.877    5.894    5.783
2001-10-08    5.863    5.796    5.891    5.744
2001-10-09    5.799    5.910    5.942    5.799
2001-10-10    5.910    5.720    5.931    5.709
2001-10-11    5.706    5.665    5.783    5.649
2001-10-12    5.688    5.704    5.807    5.395
...             ...      ...      ...      ...
2017-11-06  641.500  653.060  657.620  640.200
2017-11-07  650.580  642.070  657.150  638.180
2017-11-08  642.330  650.380  654.500  642.330
2017-11-09  648.000  650.070  654.150  644.610
2017-11-10  650.430  677.950  683.400  650.430
2017-11-13  680.000  687.880  692.780  675.800
2017-11-14  687.140  678.750  687.220  677.350
2017-11-15  678.750  688.080  689.990  674.000
2017-11-16  686.010  719.110  719.960  686.010
2017-11-17  696.000  690.250  709.000  677.770
2017-11-20  676.800  679.150  685.600  660.000
2017-11-21  669.000  677.250  688.800  662.020
2017-11-22  677.000  650.520  688.000  650.000
2017-11-23  642.000  633.730  646.000  630.220
2017-11-24  635.900  630.040  642.500  622.230
2017-11-27  634.000  621.290  636.330  613.010
2017-11-28  625.060  648.230  648.880  624.000
2017-11-29  649.940  638.120  651.970  634.010
2017-11-30  635.510  631.000  648.480  626.000
2017-12-01  638.010  622.350  638.990  620.130
2017-12-04  623.950  637.790  644.100  616.720
2017-12-05  634.000  632.960  647.400  630.130
2017-12-06  631.500  625.010  644.100  620.000
2017-12-07  624.950  616.690  624.990  615.260
2017-12-08  615.420  627.280  628.850  615.420
2017-12-11  631.000  650.990  651.950  631.000
2017-12-12  658.700  651.320  658.770  651.020
2017-12-13  654.990  668.210  670.000  650.720
2017-12-14  669.980  664.550  671.300  660.500
2017-12-15  664.000  653.790  667.950  650.780

[3881 rows x 4 columns]

输出该股票所有收盘比开盘上涨3%以上的日期

In [17]:
df[(df['close']-df['open'])/df['open']>=0.03].index

DatetimeIndex(['2001-08-27', '2001-08-28', '2001-09-10', '2001-12-21',
               '2002-01-18', '2002-01-31', '2003-01-14', '2003-10-29',
               '2004-01-05', '2004-01-13',
               ...
               '2017-01-04', '2017-02-20', '2017-04-25', '2017-08-14',
               '2017-10-19', '2017-10-27', '2017-11-10', '2017-11-16',
               '2017-11-28', '2017-12-11'],
              dtype='datetime64[ns]', name='date', length=275, freq=None)

输出该股票所有开盘比前日收盘跌幅超过2%的日期

In [27]:
df[(df['open']-df['close'].shift(1))/df['close'].shift(1)<=-0.02].index

DatetimeIndex(['2001-09-12', '2002-06-26', '2002-12-13', '2004-07-01',
               '2004-10-29', '2006-08-21', '2006-08-23', '2007-01-25',
               '2007-02-01', '2007-02-06', '2007-03-19', '2007-05-21',
               '2007-05-30', '2007-06-05', '2007-07-27', '2007-09-05',
               '2007-09-10', '2008-03-13', '2008-03-17', '2008-03-25',
               '2008-03-27', '2008-04-22', '2008-04-23', '2008-04-29',
               '2008-05-13', '2008-06-10', '2008-06-13', '2008-06-24',
               '2008-06-27', '2008-08-11', '2008-08-19', '2008-09-23',
               '2008-10-10', '2008-10-15', '2008-10-16', '2008-10-20',
               '2008-10-23', '2008-10-27', '2008-11-06', '2008-11-12',
               '2008-11-20', '2008-11-21', '2008-12-02', '2009-02-27',
               '2009-03-25', '2009-08-13', '2010-04-26', '2010-04-30',
               '2011-08-05', '2012-03-27', '2012-08-10', '2012-11-22',
               '2012-12-04', '2012-12-24', '2013-01-16', '2013-01-25',
               '2013-09-02', '2014-04-25', '2015-01-19', '2015-05-25',
               '2015-07-03', '2015-07-08', '2015-07-13', '2015-08-24',
               '2015-09-02', '2015-09-15', '2017-11-17'],
              dtype='datetime64[ns]', name='date', freq=None)

假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

In [51]:
price_last = df['open'][-1]
df = df['2001-09':'2017-11'] #剔除首尾无用的数据
df

               open    close     high      low
date
2001-09-03    5.894    5.861    5.953    5.839
2001-09-04    5.864    5.936    6.034    5.844
2001-09-05    5.959    5.932    6.008    5.896
2001-09-06    5.918    5.815    5.937    5.785
2001-09-07    5.783    5.653    5.855    5.649
2001-09-10    5.609    5.815    5.839    5.547
2001-09-11    5.831    5.750    5.855    5.736
2001-09-12    5.598    5.701    5.736    5.593
2001-09-13    5.706    5.687    5.752    5.657
2001-09-14    5.706    5.752    5.783    5.672
2001-09-17    5.717    5.679    5.750    5.625
2001-09-18    5.685    5.744    5.791    5.680
2001-09-19    5.752    5.850    5.850    5.714
2001-09-20    5.847    5.801    5.871    5.783
2001-09-21    5.749    5.714    5.799    5.704
2001-09-24    5.714    5.712    5.766    5.704
2001-09-25    5.749    5.741    5.790    5.712
2001-09-26    5.722    5.717    5.780    5.704
2001-09-27    5.717    5.815    5.859    5.704
2001-09-28    5.847    5.877    5.894    5.783
2001-10-08    5.863    5.796    5.891    5.744
2001-10-09    5.799    5.910    5.942    5.799
2001-10-10    5.910    5.720    5.931    5.709
2001-10-11    5.706    5.665    5.783    5.649
2001-10-12    5.688    5.704    5.807    5.395
2001-10-15    5.688    5.593    5.704    5.530
2001-10-16    5.566    5.514    5.672    5.506
2001-10-17    5.512    5.419    5.516    5.371
2001-10-18    5.419    5.394    5.492    5.373
2001-10-19    5.387    5.308    5.411    5.230
...             ...      ...      ...      ...
2017-10-20  581.000  574.330  581.000  571.760
2017-10-23  574.920  573.410  580.500  568.000
2017-10-24  572.000  567.330  573.800  563.610
2017-10-25  569.750  565.670  571.680  562.060
2017-10-26  605.000  605.090  613.000  591.910
2017-10-27  602.110  649.630  655.000  600.030
2017-10-30  643.050  622.080  644.000  621.000
2017-10-31  622.010  618.030  627.600  611.880
2017-11-01  620.880  623.010  631.540  619.220
2017-11-02  626.950  626.920  629.780  621.000
2017-11-03  628.650  639.170  643.440  628.650
2017-11-06  641.500  653.060  657.620  640.200
2017-11-07  650.580  642.070  657.150  638.180
2017-11-08  642.330  650.380  654.500  642.330
2017-11-09  648.000  650.070  654.150  644.610
2017-11-10  650.430  677.950  683.400  650.430
2017-11-13  680.000  687.880  692.780  675.800
2017-11-14  687.140  678.750  687.220  677.350
2017-11-15  678.750  688.080  689.990  674.000
2017-11-16  686.010  719.110  719.960  686.010
2017-11-17  696.000  690.250  709.000  677.770
2017-11-20  676.800  679.150  685.600  660.000
2017-11-21  669.000  677.250  688.800  662.020
2017-11-22  677.000  650.520  688.000  650.000
2017-11-23  642.000  633.730  646.000  630.220
2017-11-24  635.900  630.040  642.500  622.230
2017-11-27  634.000  621.290  636.330  613.010
2017-11-28  625.060  648.230  648.880  624.000
2017-11-29  649.940  638.120  651.970  634.010
2017-11-30  635.510  631.000  648.480  626.000

[3865 rows x 4 columns]

In [47]:
df_monthly = df.resample("M").first()
df_yearly = df.resample("A").last()[:-1]

In [54]:
cost_money = 0
hold = 0
for year in range(2001, 2018):
    
    cost_money += df_monthly[str(year)]['open'].sum()*100
    hold += len(df_monthly[str(year)]['open']) * 100
    if year != 2017:
        cost_money -= df_yearly[str(year)]['open'][0] * hold
        hold = 0
    print(cost_money)

cost_money -= hold * price_last

print(-cost_money)
        
# df_monthly['2001']

-96.4
1098.4
501.0
-2056.2
-3946.1
-38671.5
-112161.5
-71517.8
-98317.9
-118247.2
-124922.8
-118404.7
-79215.8
-123336.3
-145944.4
-215055.6
267443.9
431617.1

In [56]:
df['2017']

               open    close     high      low
date
2017-01-03  329.299  329.575  331.979  327.851
2017-01-04  329.634  346.667  346.923  329.615
2017-01-05  344.785  341.574  346.213  340.293
2017-01-06  341.475  345.534  354.419  340.943
2017-01-09  342.618  343.317  347.622  341.377
2017-01-10  343.258  343.800  346.755  341.436
2017-01-11  342.815  340.303  342.815  338.382
2017-01-12  341.386  341.879  342.224  339.377
2017-01-13  341.810  339.731  342.214  338.756
2017-01-16  339.003  336.382  339.663  333.752
2017-01-17  337.495  343.928  346.263  336.904
2017-01-18  343.682  349.789  351.454  342.037
2017-01-19  349.711  349.435  353.139  346.460
2017-01-20  349.612  349.701  352.075  347.770
2017-01-23  351.563  345.987  354.439  344.253
2017-01-24  346.036  345.090  347.543  341.583
2017-01-25  344.765  342.450  344.765  341.042
2017-01-26  342.953  339.288  343.603  336.215
2017-02-03  340.845  341.682  343.977  339.860
2017-02-06  343.298  341.682  343.692  339.820
2017-02-07  341.672  338.461  342.224  338.027
2017-02-08  338.638  339.081  340.352  337.564
2017-02-09  339.860  342.431  343.593  339.475
2017-02-10  343.426  339.938  344.608  339.860
2017-02-13  338.874  344.539  346.657  336.825
2017-02-14  344.332  344.992  347.346  343.898
2017-02-15  346.263  343.337  347.189  342.027
2017-02-16  343.307  342.904  343.426  340.362
2017-02-17  343.701  345.337  349.159  342.322
2017-02-20  345.189  355.907  356.921  344.795
...             ...      ...      ...      ...
2017-10-20  581.000  574.330  581.000  571.760
2017-10-23  574.920  573.410  580.500  568.000
2017-10-24  572.000  567.330  573.800  563.610
2017-10-25  569.750  565.670  571.680  562.060
2017-10-26  605.000  605.090  613.000  591.910
2017-10-27  602.110  649.630  655.000  600.030
2017-10-30  643.050  622.080  644.000  621.000
2017-10-31  622.010  618.030  627.600  611.880
2017-11-01  620.880  623.010  631.540  619.220
2017-11-02  626.950  626.920  629.780  621.000
2017-11-03  628.650  639.170  643.440  628.650
2017-11-06  641.500  653.060  657.620  640.200
2017-11-07  650.580  642.070  657.150  638.180
2017-11-08  642.330  650.380  654.500  642.330
2017-11-09  648.000  650.070  654.150  644.610
2017-11-10  650.430  677.950  683.400  650.430
2017-11-13  680.000  687.880  692.780  675.800
2017-11-14  687.140  678.750  687.220  677.350
2017-11-15  678.750  688.080  689.990  674.000
2017-11-16  686.010  719.110  719.960  686.010
2017-11-17  696.000  690.250  709.000  677.770
2017-11-20  676.800  679.150  685.600  660.000
2017-11-21  669.000  677.250  688.800  662.020
2017-11-22  677.000  650.520  688.000  650.000
2017-11-23  642.000  633.730  646.000  630.220
2017-11-24  635.900  630.040  642.500  622.230
2017-11-27  634.000  621.290  636.330  613.010
2017-11-28  625.060  648.230  648.880  624.000
2017-11-29  649.940  638.120  651.970  634.010
2017-11-30  635.510  631.000  648.480  626.000

[223 rows x 4 columns]