# Tushare——金融数据接口包

Tushare是一个免费、开源的python财经数据接口包。

In [3]:
!pip install tushare --trusted-host mirrors.aliyun.com

Looking in indexes: http://mirrors.aliyun.com/pypi/simple/
Collecting tushare
  Downloading http://mirrors.aliyun.com/pypi/packages/bf/3f/149ef2a80cddd24410e6788228a22f3b3afb5c55c765a223a5c7ecf93ecf/tushare-1.2.48-py3-none-any.whl (211kB)
     |████████████████████████████████| 215kB 4.2MB/s eta 0:00:01
Installing collected packages: tushare
Successfully installed tushare-1.2.48

In [9]:
import numpy as np
import pandas as pd
import tushare as ts
import matplotlib.pyplot as plt

In [15]:
df = ts.get_k_data("600519", start="2000-1-1")

In [16]:
df

            date      open     close      high       low     volume    code
0     2001-08-27     5.392     5.554     5.902     5.132  406318.00  600519
1     2001-08-28     5.467     5.759     5.781     5.407  129647.79  600519
2     2001-08-29     5.777     5.684     5.781     5.640   53252.75  600519
3     2001-08-30     5.668     5.796     5.860     5.624   48013.06  600519
4     2001-08-31     5.804     5.782     5.877     5.749   23231.48  600519
...          ...       ...       ...       ...       ...        ...     ...
4385  2020-01-13  1112.500  1124.270  1129.200  1112.000   38515.00  600519
4386  2020-01-14  1124.200  1107.400  1124.890  1103.000   35144.00  600519
4387  2020-01-15  1109.010  1112.130  1121.600  1105.000   26029.00  600519
4388  2020-01-16  1118.870  1107.000  1118.870  1102.580   23191.00  600519
4389  2020-01-17  1110.000  1107.500  1112.780  1101.010   23472.00  600519

[4390 rows x 7 columns]

In [17]:
df.to_csv("600519.csv")

In [18]:
df = pd.read_csv("600519.csv", index_col='date', parse_dates=['date'])[['open', 'close', 'high', 'low']]

In [19]:
df

                open     close      high       low
date
2001-08-27     5.392     5.554     5.902     5.132
2001-08-28     5.467     5.759     5.781     5.407
2001-08-29     5.777     5.684     5.781     5.640
2001-08-30     5.668     5.796     5.860     5.624
2001-08-31     5.804     5.782     5.877     5.749
...              ...       ...       ...       ...
2020-01-13  1112.500  1124.270  1129.200  1112.000
2020-01-14  1124.200  1107.400  1124.890  1103.000
2020-01-15  1109.010  1112.130  1121.600  1105.000
2020-01-16  1118.870  1107.000  1118.870  1102.580
2020-01-17  1110.000  1107.500  1112.780  1101.010

[4390 rows x 4 columns]

输出该股票所有收盘比开盘上涨3%以上的日期

In [21]:
df[((df['close'] - df['open']) / df['open']) > 0.03].index

DatetimeIndex(['2001-08-27', '2001-08-28', '2001-09-10', '2001-12-21',
               '2002-01-18', '2002-01-31', '2003-01-14', '2003-10-29',
               '2004-01-05', '2004-01-14',
               ...
               '2019-03-01', '2019-03-18', '2019-04-10', '2019-04-16',
               '2019-05-10', '2019-05-15', '2019-06-11', '2019-06-20',
               '2019-09-12', '2019-09-18'],
              dtype='datetime64[ns]', name='date', length=303, freq=None)

输出该股票所有开盘比前日收盘跌幅超过2%的日期

In [25]:
df[((df['open'] - df['close'].shift(1)) / df['close'].shift(1)) <= -0.02].index

DatetimeIndex(['2001-09-12', '2002-06-26', '2002-12-13', '2004-07-01',
               '2004-10-29', '2006-08-21', '2006-08-23', '2007-01-25',
               '2007-02-01', '2007-02-06', '2007-03-19', '2007-05-21',
               '2007-05-30', '2007-06-05', '2007-07-27', '2007-09-05',
               '2007-09-10', '2008-03-13', '2008-03-17', '2008-03-25',
               '2008-03-27', '2008-04-22', '2008-04-23', '2008-04-29',
               '2008-05-13', '2008-06-10', '2008-06-13', '2008-06-24',
               '2008-06-27', '2008-08-11', '2008-08-19', '2008-09-23',
               '2008-10-10', '2008-10-15', '2008-10-16', '2008-10-20',
               '2008-10-23', '2008-10-27', '2008-11-06', '2008-11-12',
               '2008-11-20', '2008-11-21', '2008-12-02', '2009-02-27',
               '2009-03-25', '2009-08-13', '2010-04-26', '2010-04-30',
               '2011-08-05', '2012-03-27', '2012-08-10', '2012-11-22',
               '2012-12-04', '2012-12-24', '2013-01-16', '2013-01-25',
               '2013-09-02', '2014-04-25', '2015-01-19', '2015-05-25',
               '2015-07-03', '2015-07-08', '2015-07-13', '2015-08-24',
               '2015-09-02', '2015-09-15', '2017-11-17', '2018-02-06',
               '2018-02-09', '2018-03-23', '2018-03-28', '2018-07-11',
               '2018-10-11', '2018-10-24', '2018-10-25', '2018-10-29',
               '2018-10-30', '2019-05-06', '2019-05-08', '2019-10-16',
               '2020-01-02'],
              dtype='datetime64[ns]', name='date', freq=None)

假如从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，问收益如何